.condarc 
.jupyter           
.npm        
.ssh                       
.vscode-server    
.zsh_history  
api.py          
.config         
.dotnet        
.hushlogin  
.lightning_studio  
.nvm        
.sudo_as_admin_successful  
.wget-hsts        
.zshrc        
.bashrc  
.cursor-server  
.env           
.idea       
.lightningignore   
.oh-my-zsh  
.vimrc                     
.windsurf-server
.cache   
.docker         
.gitconfig     
.ipython    
.local             
.profile    
.vscode                    
.zcompdump        
__pycache__   
code        
backend/.env
.git
